<div style="overflow-x: hidden; margin-right: 3%;">
  <h3 style="text-align:right; margin-top:2%; color:gray;  "><hr>New Support Ticket #<%= @id %></h3>

  <h2><hr></h2>
  <h2 style="margin-left:7%;  font-family: 'Times New Roman', Times, serif;">Support Ticket</h2>
  <p style="margin-left:30%; text-align:center;"><hr></p>
  <p>Hello <%= @name %>. We have received your support request</p>
  <p><%= @message %></p>
  <h1 style="margin-left:55%"></h1>

</div>
